@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap");

@media (max-width: 500px) {
  .attribution {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    min-height: 100vh;
    overflow-y: auto;
  }

  .result {
    width: 100%;
    border-radius: 0% 0% 15% 15%;
    padding: 20px 0px;
    min-height: 50vh;
    /* margin-top: 20px; */
  }

  .result span {
    width: 70%;
    font-size: 15px;
    font-weight: 800;
  }

  .summary {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 20px 35px;
    height: max-content;
    gap: 30px;
  }
  #avg-score {
    padding: 9% 13%;
  }
}
